# Universal Windows Platform
# Build a Universal Windows Platform project using Visual Studio.
# Add steps that test and distribute an app, save build artifacts, and more:
# https://aka.ms/yaml

trigger:
- master
- develop

pool:
  vmImage: 'windows-latest'

variables:
  v: '1.6.2'
  solution: 'src/StorAmp.sln'
  buildPlatform: 'x86'
  buildConfiguration: 'Release'
  publishRuntime: 'win10-x86'
  appxPackageDir: '$(build.artifactStagingDirectory)\AppxPackages\\'

stages:
- stage: Build
  jobs:

  - job: UWP
    steps:

    - task: VersionAPPX@2
      displayName: 'set appx manifest version'
      inputs:
        Path: '$(System.DefaultWorkingDirectory)/src/StorAmp.WinStore'
        VersionNumber: '$(v).0'
        InjectVersion: True
        OutputVersion: 'OutputedVersion'

    - task: NuGetToolInstaller@1
      displayName: 'install nuget'

    - task: NuGetCommand@2
      displayName: 'restore packages'
      inputs:
        restoreSolution: '$(solution)'

    - task: SecureFiles@1
      displayName: 'get store certificate'
      inputs:
        secureFileName: 'store.pfx'
        outputDirectory: '$(System.DefaultWorkingDirectory)/src/StorAmp.WinStore'
        removeSecureFile: true

    - task: VSBuild@1
      displayName: 'build appx'
      inputs:
        solution: '$(solution)'
        msbuildArgs: '/p:AppxBundlePlatforms="$(buildPlatform)" /p:AppxPackageDir="$(appxPackageDir)" /p:AppxBundle=Always /p:UapAppxPackageBuildMode=StoreUpload /p:Version=$(v) /p:FileVersion=$(v)'
        platform: 'x86'
        configuration: '$(buildConfiguration)'

    - task: CopyFiles@2
      displayName: 'copy generated uwp packages'
      inputs:
        SourceFolder: '$(build.artifactStagingDirectory)/AppxPackages'
        Contents: '*'
        TargetFolder: '$(build.artifactstagingdirectory)/uwp'
        CleanTargetFolder: true
        OverWrite: true
        flattenFolders: true

    - task: PublishBuildArtifacts@1
      displayName: 'archive uwp packages'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/uwp'
        ArtifactName: 'uwp'
        publishLocation: 'Container'

  - job: SingleExe
    steps:

    - task: PowerShell@2
      displayName: 'set build number to $(v)'
      inputs:
        targetType: 'inline'
        script: 'Write-Host "##vso[build.updatebuildnumber]$(v).0"'

    - task: DotNetCoreCLI@2
      displayName: 'generate .exe'
      inputs:
        command: 'publish'
        publishWebProjects: false
        arguments: '-c $(BuildConfiguration) -r $(PublishRuntime) -p:PublishSingleFile=true -o:exepublish /p:Version=$(v) /p:FileVersion=$(v)'
        zipAfterPublish: false
        workingDirectory: 'src/StorAmp.Wpf'

    - task: CopyFiles@2
      displayName: 'copy generated .exe'
      inputs:
        SourceFolder: 'src/StorAmp.Wpf/exepublish'
        Contents: '*.exe'
        TargetFolder: '$(build.artifactstagingdirectory)/exe'
        CleanTargetFolder: true
        OverWrite: true
        flattenFolders: true

    - task: PublishBuildArtifacts@1
      displayName: 'archive .exe'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/exe'
        ArtifactName: 'exe'
        publishLocation: 'Container'

- stage: Release
  dependsOn: ['Build']
  condition: "eq(variables['Build.SourceBranch'], 'refs/heads/master')"
  #condition: "and( eq(variables['Build.SourceBranch'], 'refs/heads/master'), succeeded('Build') )"
  jobs:
  - deployment: SingleExe
    environment: storamp-live
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'exe'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: '$(System.ArtifactsDirectory)'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(System.ArtifactsDirectory)/StorAmp-$(v).zip'
              replaceExistingArchive: true

          - task: AzureFileCopy@3
            inputs:
              SourcePath: '$(System.ArtifactsDirectory)/exe'
              azureSubscription: 'PAYG (personal)'
              Destination: 'AzureBlob'
              storage: 'isolineltd'
              ContainerName: 'storamp'

          - task: GitHubRelease@1
            inputs:
              gitHubConnection: 'aloneguid'
              repositoryName: 'aloneguid/StorAMP'
              action: 'create'
              target: '$(Build.SourceVersion)'
              tagSource: 'userSpecifiedTag'
              tag: '$(Build.BuildNumber)'
              assets: '$(System.ArtifactsDirectory)/exe/*'
              changeLogCompareToRelease: 'lastFullRelease'
              changeLogType: 'commitBased'

  - deployment: Store
    environment: storamp-live
    strategy:
      runOnce:
        deploy:
          steps:
          - task: DownloadBuildArtifacts@0
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'uwp'
              downloadPath: '$(System.ArtifactsDirectory)'

          - task: store-publish@0
            inputs:
              serviceEndpoint: 'UWP'
              appId: '9NKV1D43NLL3'
              packagePath: '$(System.ArtifactsDirectory)/uwp/*.msixupload'
              force: false
              skipPolling: false
          
